<% const d=new Date(); const year=d.getFullYear(); %>
    <footer>
        <div class="footer-container">
            <div>
                <h3>About CSE Motors</h3>
                <p>
                    CSE Motors blends classic style with modern performance, delivering reliable, innovative vehicles and upgrades. We honor
                    automotive heritage while engineering your perfect ride.
                </p>

            </div>
            <div>
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Custom</a></li>
                    <li><a href="#">Sedan</a></li>
                    <li><a href="#">SUV</a></li>
                    <li><a href="#">Truck</a></li>
                </ul>
            </div>
            <div class="footer-center">
                <h3>Connect With Us</h3>
                <p>Email: cse-motorsp@example.com</p>
                <div class="social-links">
                    <a href="https://www.facebook.com/" target="_blank"><img src="/images/site/facebook.svg" alt="facebook" width="16"
                            height="16"></a>
                    <a href="https://www.twitter.com/" target="_blank"><img src="/images/site/twitter-x.svg" alt="twiter" width="16"
                            height="16"></a>
                    <a href="https://www.linkedin.com/" target="_blank"><img src="/images/site/linkedin.svg" alt="linkedin" width="16"
                            height="16"></a>
                    <a href="https://github.com/Instant-SkyTechnology/wdd131/index.html" target="_blank"><img
                            src="/images/site/github.svg" alt="github" width="16" height="16"></a>
                    <a href="https://www.microsoft.com/en-ca/microsoft-teams/log-in?msockid=37503da8c2d962d133de2ba5c3f663f1"
                        target="_blank"><img src="/images/site/microsoft-teams.svg" alt="microsoft-teams" width="16" height="16"></a>
                </div>
            </div>
        
        </div>
        
        <div class="footer-bottom">
            <p class="copyright">&copy; <%= year %>, CSE 340 App. All Rights Reserved ◈ Steve KALALA</p>
            <p>Last Modified: <span id="lastModified"></span></p>
        </div>
    </footer>