
    <body>
        
        <main>
            <h1>Inventory Management</h1>

            <!-- Display flash messages -->
            <%- messages() %>

           


                <ul>
                    <li><a href="/inv/add-classification">Add Classification</a></li>
                    <li><a href="/inv/add-inventory">Add Inventory</a></li>
                </ul>

                <h2>Manage Inventory</h2>
                <p>Choose a Classification to see those inventory items.</p>
                <div class="ssss">
                    <%- classificationSelect %>
                </div>

                <% if (locals.accountData && locals.accountData.account_type==="Admin" ) { %>
                    <div class="admin-actions">
                        <button id="deleteClassificationBtn" type="button">
                            Delete Selected Classification
                        </button>
                    </div>
                    <% } %>



                <table id="inventoryDisplay"></table>

                <noscript>JavaScript must be enabled to use this page.</noscript>

                <script src="../../js/inventory.js"></script>
        </main>
     
    </body>